body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(254, 255, 255);
    margin: 0;
    padding: 20px 20px 0 20px;
}

h1 {
    color: red;
    font-size: 3em;
    text-shadow: 3px 3px rgb(226, 226, 165);
}


.score-display {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(226, 226, 165);
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

#taco-button {
    width: 550px;
    height: 550px;
    cursor: pointer;
}

#taco-button:active {
    transform: rotate(4deg);
}
.shop-section {
    margin-top: 101px;
    background-color: rgb(203, 178, 79);
    padding: 20px;
    border-radius: 15px;
}


.shop-section h2 {
    color: brown;
    font-size: 1.5em;
}

button {
    background-color: orange;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    font-size: 1.2em;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    background-color: darkorange;
    transform: scale(1.1);
}


.shake {
    animation: taco-shake 0.3s ease-in-out;
}

.floating-number {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px white;
    pointer-events: none;
    animation: float-up 0.5s ease-out forwards;
}






#double-click-button { background-color: rgb(0, 255, 21); }
#auto-maker-button { background-color: rgb(0, 119, 255); }
#taco-factory-button { background-color: rgba(167, 22, 162, 0.968); }
#fast-worker-button { background-color: blue; }
#alien-worker-button { background-color: green; }






@keyframes float-up {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
